<header>
    <h1> LISTE DE TACHES </h1>
    <nav>
        <ul>
            <li>
                <button><a href="/"> MES TACHES</a></button>
            </li>
            <li>
                <button> <a href="/apropos"> A PROPOS</a></button>
            </li>
        </ul>
    </nav>

</header>